.brands {
  width: 100%;
  height: 224px;

  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;

  .tops {
    width: 88%;
    border: 1px solid lightgrey;
    border-radius: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: column;
    p {
      height: inherit;
      display: flex;
      text-align: center;
      justify-content: center;
      font-family: var(--fontdigi);
      column-gap: 5px;

      font-size: 20px;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 110px;
  height: 110px;
}
