.montakhabesh {
  width: 100%;
  height: 442px;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  .montakhabesh-center {
    width: 100%;
    height: inherit;
    background-color: #d92f4e;
    padding: 25px 2px;

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      font-size: 18px;
      background: white;
      display: flex;
      border-radius: 10px;
      flex-flow: column;

      .pishnahadp {
        width: inherit;
        height: 40px;
        display: flex;
        padding-left: 50px;
        padding-top: 20px;

        .pishnahad {
          align-items: right;
          width: 116px;
          height: 14px;
        }
      }

      a {
        display: flex;
        width: inherit;
        height: inherit;
        align-items: center;

        row-gap: 10px;
        text-decoration: none;
        img {
          width: 132px;
          height: 132px;
        }
        p {
          font-family: var(--fontdigi);
          width: 80%;
          font-size: 12.5px;
          color: #434040;
          line-height: 20px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-align: right;
        }
        .ersal {
          display: flex;
          align-items: center;
          column-gap: 2px;
          font-size: 11px;
          padding-bottom: 10px;
          img {
            width: 18px;
            height: 12px;
          }
        }
        .swiper-slider-price {
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          direction: ltr;
          padding-right: 10px;
          span {
            font-size: 16px;
            padding-left: 10px;
            font-weight: bold;
            font-family: var(--fontnazanin);
            display: flex;
            align-items: center;
            column-gap: 5px;
            color: #434040;
            .toman {
              width: 16px;
              height: 16px;
            }
          }
          .swiper-slider-price-discount {
            display: inline-block;
            height: inherit;
            background-color: #d32f2f;
            color: whitesmoke;
            border-radius: 15px;
            font-size: 14px;
            text-align: center;

            padding: 2px;
            width: 40px;
          }
        }
        .swiper-slider-delete {
          text-align: left;
          font-family: var(--fontnazanin);
          color: rgb(187, 181, 181);
          display: block;
          width: 100%;
          padding-left: 30px;
          font-size: 16px;
          text-decoration: line-through;
        }
      }
    }
    .activeAmazing {
      background-color: #d92f4e;
      a {
        display: flex;
        flex-flow: column wrap;
        width: inherit;
        height: inherit;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        text-decoration: none;
        .swiper-slide-img-1 {
          width: 120px;
          height: 120px;
        }
        .swiper-slide-img-2 {
          width: 145px;
          height: 145px;
        }
      }
      span {
        font-family: var(--fontdigi);
        font-size: 12px;
        color: whitesmoke;
        font-weight: bold;
      }
    }
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .zaman {
    display: flex;

    font-family: var(--fontnazanin);
    color: red;
    padding-right: 110px;
    padding-bottom: 20px;
    font-size: 15px;
  }
}
